<div class="container">
  <div *ngIf="!isLoggedIn">
    <h2>Welcome to the petsitter app!</h2>
    <p>Make sure you're logged in before you try and use this app.</p>
    <button mat-button routerLink="sign-in">Sign in</button>
    <button mat-button routerLink="sign-up">Sign Up</button>
  </div>
  <div *ngIf="isLoggedIn">
    <h2>Welcome {{ username }}!</h2>
    <p>Who are you?</p>
    <button mat-button routerLink="pets">Pet Owner</button>
    <button mat-button routerLink="profile">Pet Sitter</button>
    <br /><br /><br />
    <button mat-button (click)="logout()">Log Out</button>
  </div>
</div>
